.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.stagedirection{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
    background-color: lightskyblue;
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: black;
}
.stagedirection:hover{
    background-color: gray;
    color: white;

}
.Cleante{
    color:blueviolet;

}
.Tartuffe{
    color: yellow;
}

.table,
td{
    border: 2px solid burlywood;
    border-collapse: border_collapse;
    text-align:left;
    color: pink;
    padding: 5px;
    margin: 10px;
}
th{
    border: 2px solid black;
    text-align: center;
    background-color: blueviolet;
    padding: 5px;
    margin: 10px;
}
tr:nth-child(even){
    background-color: lightcoral;

}
span h6:hover{
    text-shadow: 0 0 2px black;
    color:transparent;
    font-size: 2opx;
    border: dotted;
}
.name:hover{
    text-shadow: 2px 4px 3px;
    color: chartreuse;
    filter: grayscale(3px);
    border: double 2px black;
}